c/frontc/*~
c/frontc/*.cmo
c/frontc/*.cmi
c/frontc/*.cmx
c/frontc/*.o
c/*~
c/*.cmo
c/*.cmi
c/*.cmx
c/*.o
utils/*~
utils/*.cmo
utils/*.cmi
utils/*.cmx
utils/*.o
tests/*.c
tests/*.ll
*.cmo
*.cmi
*.cmx
*.o
main
runtest
mlc_proto.ml
